@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@700&family=Merriweather&family=Roboto+Condensed:wght@300;700&display=swap');

* {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
}